:root {
    --primary: #1ebaba;
    --success: #75fa83;
    --white: #fdfdfd;
}

.btn {
    font-family: Rhode-Medium-Condensed,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}


.btn--primary--outline {
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn--success--solid {
    background-color: var(--success);
    color: var(--white);
    border: none;
}


.btn--success--outline {
    background-color: transparent;
    border: 2px solid var(--success);
    color: var(--success);
}

.btn--small {
    padding: 10px 20px;
    font-size: 18px;
}

.btn--medium {
    padding: 15px 30px;
    font-size: 20px;
}
